<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="icon" type="image/png" href="/assets/img/logo.png">
</head>
<body>
  <main class="page-content" aria-label="Content">
    <div class="w">
      {{ content }}

      <div class="credits" style="margin-top: 3rem; opacity: 0.5; font-size: 0.8em;">
        &copy; {{ site.time | date: '%Y' }} Bludger. Theme Moonwalk.
      </div>
    </div>
  </main>

  {% include toggle.html %}
</body>
</html>
